.contact-form{
    padding: 3rem 3rem 0rem 3rem;
    display: flex;
    height: 80vh;
    margin-top: 1rem;
}
.txt{
    width: 100%;

}
.c-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}
.c-right>form{
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
    align-items: center;
}
.c-right .user{
    width: 19rem;
    height: 2rem;
    padding: 0.3px 5px 0.3px 5px;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    font-size: 16px;
    /* padding-left: 0.5rem;
    padding-right: 0.5rem; */
}
textarea{
    height: 4rem!important;
}
.c-blur1{
    top: 1rem;
    left: 14rem;
}
.c-right p {
    /* text-align: start; */
    font-size: 16px;
    color: red;
  }
  .success{
    color: var(--orange);
    margin-top: 2rem;
  }

@media screen and (max-width: 480px){
    
    .contact-form{
        padding: 0;
        flex-direction: column;
        height: 93vh;
    }
    .c-left{
        margin-bottom: 4rem;
    }
    
    .c-right .user{
        width: 17rem;
        
    }

}