.n-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
}
.n-left {
  flex: 1;
  align-items: center;
  display: flex;
  gap: 2rem;
}
.n-name {
  font-size: 1.5rem;
  font-weight: bold;
}
.n-right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}
.n-list {
  flex: 10;
}
.n-list > ul {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
  list-style: none;
}
.h-effect:hover {
  cursor: pointer;
  color: var(--orange);
}

.n-button{
    flex: 2;
    width: 8rem;
}
.menu-icon, .cross-icon {
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	display: none;
}
.conactformobile{
  display: none;
}

@media screen and (max-width: 780px){
  .n-wrapper{
    margin-bottom: -15%;
  }
  .n-left {
    flex: 1;
    align-items: center;
    display: flex;
    gap: 3rem;
  }
  .cross-icon{
    display: block;
  }
  .menu-icon{
    display: block;
    width: 0;
    height:0;
    position: absolute; 
    right: 3.5rem;
    top: 1rem;
  }
  .cross-icon{
    display: block;
    width: 0;
    height:0;
    position: absolute; 
    top: -4rem; 
  }
  .n-right{
    display: none;
  }
  .conactformobile{
    display: block;
  }
  .mobile-menu{
    /* display: block; */
    height: 100vh;
    width: 55%;
    gap: 3rem;
    background-color: rgb(6, 6, 91);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5;
  }

  .mobile-menu .n-list > ul{
    position: relative;
    top: 2rem;
    margin-right: 0;
    margin-top: 3rem;
    flex-direction: column;
    color: white;
  }
  .n-button{
    display: none;
  }

}